.sidebar {
    background-color: var(--lightBlue);
    height: 100vh;
}

a.link {
    padding: 10px 20px;
    color: #fefefe;
    text-decoration: none;
    font-size: 1.15em;
    height: auto;
    transition: all 200ms ease-in-out;
}

a.link:hover,
a.link:active {
    color: var(--lightBlue);
    background-color: #fefefe;
}

a.link.active {
    color: var(--lightBlue);
    background-color: #fefefe;
}